{% extends "base.twig" %}

{% block content %}
    <main class="d-flex flex-column bg-light">


        {% if user.login %}
            {% include "views/templates/searchbar_reduce.twig" %}
            {% set record = data.fields %}
            <div class="m-5 row ">
                <div id="left-content" class="col-12 col-xl-8">
                    <div class="card">
                        <div class="card-header bg-fid text-light text-center">
                            {{ record.T0331.0.content }}
                        </div>
                        <div class="card-body">
                            <object width="100%" height="800px" type="application/pdf" data="{{ record.eds_source.0.content.Record.FullText.Links.0.Url }}"></object>
                        </div>
                    </div>


                </div>
                <div id="right-content" class="col-12 col-xl-4">
                    <div class="card">
                        <div class="card-header bg-fid text-light">

                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                {% if record.T0100.0.content %}
                                    <li class="list-group-item">
                                        <ul class="list-group list-group-horizontal">
                                            <li class="list-group-item bg-light record-type record-type-sm"><i class="fas fa-user-friends text-fid"></i></li>
                                            <li class="list-group-item w-75">
                                                {% for r in record.T0100 %}
                                                    {% if loop.index != loop.last %}
                                                        {{ r.content }},
                                                    {% else %}
                                                        {{ r.content }}
                                                    {% endif %}
                                                {% endfor %}
                                            </li>
                                        </ul>
                                    </li>
                                {% endif %}
                                {% if record.T0451.0.content %}
                                    <li class="list-group-item">
                                        <ul class="list-group list-group-horizontal">
                                            <li class="list-group-item bg-light record-type record-type-sm"><i class="fas fa-newspaper text-fid"></i></li>
                                            <li class="list-group-item w-75">
                                                {{ record.T0451.0.content }}{% if record.T0089.0.content %}, Bd. {{ record.T0089.0.content }}{% endif %}{% if record.T0596.0.content %}, {{ record.T0596.0.content }}{% endif %}
                                            </li>
                                        </ul>
                                    </li>
                                {% endif %}
                                {% if record.T0425.0.content %}
                                    <li class="list-group-item">
                                        <ul class="list-group list-group-horizontal">
                                            <li class="list-group-item bg-light record-type record-type-sm"><i class="far fa-calendar-alt text-fid"></i></li>
                                            <li class="list-group-item w-75">
                                                {% for r in record.T0425 %}
                                                    {% if loop.index != loop.last %}
                                                        {{ r.content }},
                                                    {% else %}
                                                        {{ r.content }}
                                                    {% endif %}
                                                {% endfor %}
                                            </li>
                                        </ul>
                                    </li>
                                {% endif %}

                                {% if record.T0015.0.content %}
                                    <li class="list-group-item">
                                        <ul class="list-group list-group-horizontal">
                                            <li class="list-group-item bg-light record-type record-type-sm"><i class="fas fa-language text-fid"></i></li>
                                            <li class="list-group-item w-75">
                                                {% for r in record.T0015 %}
                                                    {% if loop.index != loop.last %}
                                                        {{ r.content }},
                                                    {% else %}
                                                        {{ r.content }}
                                                    {% endif %}
                                                {% endfor %}
                                            </li>
                                        </ul>
                                    </li>
                                {% endif %}
                                {% if record.T0585.0.content %}
                                    <li class="list-group-item">
                                        <ul class="list-group list-group-horizontal">
                                            <li class="list-group-item bg-light record-type record-type-sm"><i class="fas fa-barcode text-fid"></i></li>
                                            <li class="list-group-item w-75">
                                                <ul class="list-group list-group-flush">
                                                    {% for r in record.T0585 %}
                                                        <li class="list-group-item p-0">{{ r.content }}</li>
                                                    {% endfor %}
                                                </ul>

                                            </li>
                                        </ul>
                                    </li>
                                {% endif %}
                                {% if record.T0540.0.content %}
                                    <li class="list-group-item">
                                        <ul class="list-group list-group-horizontal">
                                            <li class="list-group-item bg-light record-type record-type-sm"><i class="fas fa-barcode text-fid"></i></li>
                                            <li class="list-group-item w-75">
                                                <ul class="list-group list-group-flush">
                                                    {% for r in record.T0540 %}
                                                        <li class="list-group-item p-0">{{ r.content }}</li>
                                                    {% endfor %}
                                                </ul>

                                            </li>
                                        </ul>
                                    </li>
                                {% endif %}

                            </ul>

                            <div id="accordion">

                                {% if record.T0710.0.content %}
                                    <div class="card border-fid">
                                        <div class="card-header">
                                            <a class="card-link text-fid d-flex justify-content-between" data-toggle="collapse" href="#T0710">
                                                <span>Verschlagwortung</span><span><i class="icon fas fa-minus"></i></span>
                                            </a>
                                        </div>
                                        <div id="T0710" class="collapse show" data-parent="#accordion">
                                            <div class="card-body">
                                                {% for r in record.T0710  %}
                                                    <span class="badge badge-danger {% if loop.index%3 == 1 %}bg-fid-secondary-slightly-brighter{% elseif loop.index%2 == 1 %}bg-fid-secondary-slightly-brightest{% else %}bg-fid-secondary{% endif %}">{{ r.content }}</span>

                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if record.T0750.0.content %}
                                    <div class="card border-fid">
                                        <div class="card-header">
                                            <a class="card-link text-fid d-flex justify-content-between" data-toggle="collapse" href="#T0750">
                                                <span>Zusammenfassung</span><span><i class="icon fas fa-plus"></i></span>
                                            </a>
                                        </div>
                                        <div id="T0750" class="collapse" data-parent="#accordion">
                                            <div class="card-body">
                                                {{ record.T0750.0.content }}
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                                <script>
                                    $(".card-link").on("click", function () {

                                        if ($(this).find(".icon").hasClass("fa-plus")){
                                            $(".card-link").find(".icon").removeClass("fas fa-minus");
                                            $(".card-link").find(".icon").addClass("fas fa-plus");
                                            $(this).find(".icon").removeClass("fas fa-plus");
                                            $(this).find(".icon").addClass("fas fa-minus");
                                        } else {
                                            $(".card-link").find(".icon").removeClass("fas fa-minus");
                                            $(".card-link").find(".icon").addClass("fas fa-plus");
                                            $(this).find(".icon").removeClass("fas fa-minus");
                                            $(this).find(".icon").addClass("fas fa-plus");
                                        }
                                    })
                                </script>

                            </div>
                        </div>
                    </div>



                </div>
            </div>
        {% else %}
            <div class="jumbotron jumbotron-fluid mb-0 landing-page-img pt-5">

                <div class="col-12 d-flex justify-content-center">
                    <div class="card">
                        <div class="card-header text-center">
                            Anmelden
                        </div>
                        <div class="card-body">
                            <form  method="post"  hx-post="{{ webInfo.baseurl }}login">
                                <!--action="http://localhost:20445/portal/fidphil/login"-->
                                <div class="input-group mb-3">
                                    <input id="redirectTo" type="hidden" name="redirect_to" value="{{ webInfo.currentUrl }}" hx-swap-oob="true">
                                    <input type="hidden" name="authenticatorid" value="1">

                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-fid text-white"><i class="fas fa-user"></i></span>
                                    </div>
                                    <input type="email" name="username" class="form-control" placeholder="Benutzername / Email" required>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-fid text-white"><i class="fas fa-key"></i></span>
                                    </div>
                                    <input type="password" name="password" class="form-control" placeholder="Passwort" required>
                                </div>
                                <button id="login-submitter" type="submit" class="btn btn-fid btn-block">Abschicken</button>
                                <small class="text-fid text-center pointer" data-toggle="modal" data-target="#registerModal">Noch nicht nicht registriert?</small>
                                {% if status_code %}
                                    <div class="d-flex justify-content-center">
                                        {% if status_code == 401 %}
                                            <span class="badge badge-warning">Benutzername oder Passwort falsch. Versuche es nochmal.</span>
                                        {% endif %}

                                        {% if status_code == 404 %}
                                            <span class="badge badge-danger">Server nicht erreichbar</span>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <hr style="height: 3px; margin-top: 0!important; padding-top: 0!important;">


        {% endif %}

    </main>
{% endblock %}
