{% extends "base.twig" %}


{% block content %}
    <main class="d-flex flex-column">
        <!--div class="jumbotron bg-light welcome-box">
            <h1 class="text-center">FID Philosophie</h1>
            <p class="text-dark text-justify">
                Non eram nescius, Brute, cum, quae summis ingeniis exquisitaque doctrina philosophi Graeco sermone tractavissent, ea Latinis litteris mandaremus, fore ut hic noster labor in varias reprehensiones incurreret. nam quibusdam, et iis quidem non admodum indoctis, totum hoc displicet philosophari. quidam autem non tam id reprehendunt, si remissius agatur, sed tantum studium tamque multam operam ponendam in eo non arbitrantur. erunt etiam, et ii quidem eruditi Graecis litteris, contemnentes Latinas, qui se dicant in Graecis legendis operam malle consumere. postremo aliquos futuros suspicor, qui me ad alias litteras vocent, genus hoc scribendi, etsi sit elegans, personae tamen et dignitatis esse negent
            </p>


        </div-->
        <div class="sticky-top">
            <div class="jumbotron jumbotron-fluid pt-4 mb-0" style="background-image: url('{{ webInfo.baseurl }}app/themes/fid-phil/assets/img/a_school.jpg'); background-position: center; height: 50px">
                <div class="container d-flex justify-content-center">
                    <div class="search_box p-0" >
                        <form hx-get="/" hx-target="#result_wrapper" hx-select="#result_wrapper "hx-swap="outerHTML" hx-push-url="true">
                            <div id="search_wrapper" class="input-group input-group-lg shadow-sm" >
                                <div class="input-group-prepend">
                                    <button type="submit" class="input-group-text bg-fid border-fid">
                                        <i class="fas fa-search text-white"></i>
                                    </button>
                                </div>

                                <input id="freetext-input" type="text" name="freetext" class="form-control" placeholder="Suche..." required>
                                <div class="input-group-append d-md-none">
                                    <button  class="input-group-text bg-fid border-fid" data-toggle="modal" data-target="#filterModal">
                                        <i class="fas fa-filter text-white"></i>
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>

            </div>
            <hr style="height: 3px; margin-top: 0!important; padding-top: 0!important;">
        </div>



        <div id="result_wrapper" class="flex-column" >
            <input type="hidden" id="currentURL" value="{{ webInfo.currentUrl }}">
            {% if data.records %}
            <div class="modal" id="filterModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div id="small_facet_wrapper" class="d-flex justify-content-center">
                                <div class="btn-group">
                                    {% if data.facets %}
                                        {% for facet in data.facets|sort %}
                                            {% if facet.value|length != 0 %}
                                                <div class="btn-group btn-group-sm">
                                                    <button type="button" class="btn btn-fid dropdown-toggle small" data-display="static" data-toggle="dropdown">
                                                        {% if webInfo.lang == "en" %}{{ facet.name_en|upper }}{% else %}{{ facet.name_de|upper }}{% endif %}
                                                    </button>
                                                    <div class="dropdown-menu" style="max-height: 25vh!important; overflow-y: auto">
                                                        <ul class="list-group" >
                                                            {% for f in facet.value %}
                                                                <li class="list-group-item list-group-facet-item-fid small text-center {% if f.2 %}facet-entry-selected{% endif %}" hx-get="{{ webInfo.currentUrl }}&{{ facet.key }}[]={{ f.0 }}" hx-target="#result_wrapper" hx-select="#result_wrapper" hx-push-url="true" hx-history-elt>
                                                                    {{ f.0 }}<span class="ml-2 badge badge-primary bg-fid">{{ f.1 }}</span>
                                                                </li>
                                                            {% endfor %}

                                                        </ul>
                                                    </div>
                                                </div>

                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">

                <div class="under-search d-flex justify-content-center pt-2">
                    <div class="d-block d-md-none">
                        <div id="small_selected_wrapper" class="d-flex justify-content-center pb-1">
                            {% for facet in data.facets %}
                                {% for s in facet.selected %}
                                    <button class="btn btn-sm btn-outline-fid-secondary" hx-get="{{ s.1 }}" hx-target="#result_wrapper" hx-select="#result_wrapper" hx-push-url="true" hx-history-elt>{{ facet.key }}: {{ s.0 }} <i class="ml-1 fas fa-times"></i></button>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>


            <div class="d-flex justify-content-md-between w-100">
                <div id="hit_wrapper" class="col-sm-12 col-md-9 p-2 p-md-5">
                    <div class="d-flex justify-content-between">
                        <div class="btn-group">
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-fid dropdown-toggle rounded-0"  style="border-top-left-radius: .25rem!important;" data-toggle="dropdown" >
                                    Treffer pro Seite
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" hx-get="{{ webInfo.currentUrl }}&hits=20" hx-target="#result_wrapper" hx-select="#result_wrapper" hx-push-url="true" hx-history-elt>20</a>
                                    <a class="dropdown-item" hx-get="{{ webInfo.currentUrl }}&hits=40" hx-target="#result_wrapper" hx-select="#result_wrapper" hx-push-url="true" hx-history-elt>40</a>
                                    <a class="dropdown-item" hx-get="{{ webInfo.currentUrl }}&hits=60" hx-target="#result_wrapper" hx-select="#result_wrapper" hx-push-url="true" hx-history-elt>60</a>
                                </div>
                            </div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-fid dropdown-toggle rounded-0" data-toggle="dropdown" style="border-top-right-radius: .25rem!important;">
                                    Sortierung
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" hx-get="{{ webInfo.currentUrl }}&sort=year_asc" hx-target="#result_wrapper" hx-select="#result_wrapper" hx-push-url="true" hx-history-elt>Jahr ASC</a>
                                    <a class="dropdown-item" hx-get="{{ webInfo.currentUrl }}&sort=year_desc" hx-target="#result_wrapper" hx-select="#result_wrapper" hx-push-url="true" hx-history-elt>Jahr DESC</a>
                                    <a class="dropdown-item" hx-get="{{ webInfo.currentUrl }}&sort=relevance_desc" hx-target="#result_wrapper" hx-select="#result_wrapper" hx-push-url="true" hx-history-elt>Relevanz</a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="btn-group">
                                <button type="button" class="btn btn-fid rounded-0" style="border-top-right-radius: .25rem!important; border-top-left-radius: .25rem!important;">Treffer: {{ data.meta.hits }}</button>
                            </div>

                        </div>
                    </div>

                    <ul class="list-group" style="border-top-left-radius: 0; border-top-right-radius: 0">
                        {% for record in data.records %}
                            <li class="list-group-item list-group-result-item-fid p-0 slide-toggle" style="overflow: hidden">
                                <table>
                                    <tr>
                                        <td class="text-fid icon-fid text-center" style="width: 8vw; min-width: 8vw; border-right: solid 1px; padding-right: 0.7vw">
                                            {% set pubTypeId = data.records.0.fields.eds_source.0.content.Header.PubTypeId %}

                                            {% if  pubTypeId == "academicJournal" %}
                                                <i class="fas fa-newspaper text-fid-tertiary"></i>
                                            {% elseif pubTypeId == "book" %}
                                                <i class="fas fa-book"></i>
                                            {% elseif pubTypeId == "review" %}
                                                <i class="fas fa-comment"></i>
                                            {% elseif pubTypeId == "unknown" %}
                                                <i class="far fa-question-circle"></i>
                                            {% endif %}
                                            {% if record.fields.T4410|length > 0 %}
                                                {% for type in record.fields.T4410 %}
                                                    {% if type.content == "Zeitschrift/Serie" %}
                                                        <i class="far fa-newspaper" style="color: #4810a5"></i>
                                                    {% elseif type.content == "Monographie" %}
                                                        <i class="fas fa-book " style="color: #5b14db"></i>
                                                    {% elseif type.content == "Aufsatz" %}
                                                        <i class="far fa-file-alt r" style="color: #4545db"></i>
                                                    {% elseif type.content == "Digital" %}
                                                        <i class="fas fa-laptop" style="color: #3f72db"></i>
                                                    {% elseif type.content == "Hochschulschrift" %}
                                                        <i class="fas fa-university" style="color: #4498db"></i>
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                {% if record.locations %}
                                                    {% for location in record.locations %}
                                                        {% if location.id == "emedien" %}
                                                            <i class="fas fa-globe-europe"></i>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% else %}
                                                    <i class="far fa-question-circle text-info"></i>
                                                {% endif %}

                                            {% endif %}

                                        </td>
                                        <td style="padding-left: 0.7vw; width: 100%!important">
                                            <div class="d-flex justify-content-between result-content-box" >
                                                <div class="p-1" style="max-height: 80px!important">
                                                    <div style="height: 70%; overflow: hidden;">
                                                        <strong class="strong-fid" style="width: 50%; vertical-align: middle!important; line-height: 1!important;">{% if record.fields.T0331.0.content|length>=250  %}{{ record.fields.T0331.0.content|slice(0,249) }} [...]{% else %}{{ record.fields.T0331.0.content }}{% endif %}, {{ record.fields.T0425.0.content }}</strong><br>
                                                    </div>
                                                    <div style="height: 30%">
                                                        <small class="italic-font">{{ record.fields.PC0001.0.content }}</small>
                                                    </div>
                                                </div>
                                                <div class="slide-menu" style="overflow: hidden; width: 0">
                                                    <div class="d-flex justify-content-end" style="height: 100%">
                                                        <a href="{{ webInfo.baseurl }}records/{{ record.id }}?href={{ record.link.href }}" target="_blank">
                                                            <div class="slide-element bg-fid-secondary text-white" style="height: 100%">
                                                                <i class="fas fa-eye icon-fid-md align-self-center" ></i>
                                                            </div>
                                                        </a>
                                                        <div class="slide-element bg-fid-secondary-brighter text-white" style="height: 100%">
                                                            <i class="fas fa-tag icon-fid-md align-self-center" ></i>
                                                        </div>
                                                        <div class="slide-element bg-fid-secondary-brightest text-white" style="height: 100%">
                                                            <i class="fas fa-quote-right icon-fid-md align-self-center"></i>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>


                                        </td>
                                    </tr>
                                </table>

                            </li>
                        {% endfor %}
                    </ul>

                </div>
                <div id="facet_wrapper" class="col-md-3 d-none d-md-block pt-5">


                    {% if data.facets %}
                        {% for facet in data.facets|sort %}
                            {% if facet.value|length != 0 or facet.selected != 0 %}
                                <div id="card{{ facet.name_en }}" class="card facet-box mb-3 shadow-sm">
                                    <div class="card-body">
                            <span class="facet-box-header" href="#{{ facet.key }}-entries" data-toggle="collapse" style="background-color: red!important;">
                                <h6 class="text-center text-fid" >{% if webInfo.lang == "en" %}{{ facet.name_en|upper }}{% else %}{{ facet.name_de|upper }}{% endif %}</h6>
                            </span>
                                        <div id="{{ facet.key }}-entries" class="collapse show">

                                            <ul  class="list-group">
                                                {% for s in facet.selected %}
                                                    <li class="list-group-item list-group-facet-item-fid small text-center facet-entry-selected" hx-get="{{ s.1 }}" hx-target="#result_wrapper" hx-select="#result_wrapper" hx-push-url="true" hx-history-elt>
                                                        {{ s.0 }}<span class="ml-2 text-white"><i class="fas fa-times"></i></span>
                                                    </li>
                                                {% endfor %}

                                                {% for f in facet.value %}
                                                    <li class="list-group-item list-group-facet-item-fid small text-center {% if f.2 %}facet-entry-selected{% endif %}" {% if loop.index > 5 %}hidden{% endif %} hx-get="{% if f.2 %}{{ f.2 }}{% else %}{{ webInfo.currentUrl }}&{{ facet.key }}[]={{ f.0 }}{% endif %}" hx-target="#result_wrapper" hx-select="#result_wrapper" hx-push-url="true" hx-history-elt>
                                                        {{ f.0 }}<span class="ml-2 badge badge-primary bg-fid">{{ f.1 }}</span>
                                                    </li>
                                                {% endfor %}
                                                {% if facet.value|length>5 %}
                                                    <li class="list-group-item bg-fid text-white small text-center pointer more-button"><i class="fas fa-plus"></i> MORE</li>
                                                    <li class="list-group-item bg-fid text-white small text-center pointer less-button" hidden><i class="fas fa-minus"></i> LESS</li>
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}


                </div>
                {% endif %}
            </div>



        </div>

        <script>
            $(document).on("mouseover", ".slide-toggle",function () {
                $(".slide-menu").removeClass("animate__animated animate__slideInRight");
                $(this).find(".slide-menu").addClass("animate__animated animate__slideInRight")
            });

            $(document).on("mouseleave", ".slide-toggle",function () {
                $(".slide-menu").removeClass("animate__animated animate__slideInRight");
            });

            $(document).on("click", ".list-group-facet-item-fid", function () {
                $('#filterModal').modal('hide');
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();

            })


            $(document).on("click", ".more-button", function () {
                $(this).siblings().prop("hidden", false);
                $(this).prop("hidden", true)
            });

            $(document).on("click", ".less-button", function () {
                var siblings = $(this).siblings();
                for (i=0; i < siblings.length; i++ ) {
                    if (i>4){
                        $(siblings[i]).prop("hidden", true)
                    }
                    console.log($(siblings[i]).attr("id"))
                    $('.more-button').prop("hidden", false);
                    $(this).prop("hidden", true)

                }
            })
        </script>
    </main>





{% endblock %}
