{% extends "base.twig" %}


{% block content %}
    <main class="container-fluid d-flex flex-column mt-5">
        <div class="d-flex justify-content-center mt-5">
            <div id="record_wrapper" class="pr-5" style="width: 50vw">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><h3>{{ data.fields.T0331.0.content }}</h3></li>
                    <li class="list-group-item">
                        {% if data.fields.T0100|length > 1 %}AutorInnen{% else %}AutorIn{% endif %}:
                        {% for person in data.fields.T0100 %}
                            <strong>{{ person.content }}</strong>{% if not loop.index|last%}, {% endif %}
                        {% endfor %}
                    </li>
                    <li class="list-group-item">
                        Jahr: <strong>{{ data.fields.T0425.0.content }}</strong>
                    </li>

                    <li class="list-group-item">
                        Links:
                        <ul class="list-group list-group-flush">
                            {% for link in data.fields.T0662 %}
                                {% if link.description == "Web-Link" %}
                                <li class="list-group-item"><a href="{{ link.content }}" target="_blank"><i class="fas fa-globe-europe mr-2"></i> {{ link.content }}</a></li>
                                {% else %}
                                {{ link|json_encode }}
                                {% endif %}
                            {% endfor %}
                        </ul>

                    </li>
                    <li class="list-group-item">
                        Schlagwörter:
                        <br>
                        {% for buzzword in data.fields.T0710 %}


                            <span class="badge badge-danger {% if loop.index%3 == 1 %}bg-fid-secondary-brighter {% elseif loop.index%2 == 1 %}bg-fid-secondary-brightest {% else %} bg-fid-secondary{% endif %}">{{ buzzword.content }}</span>
                        {% endfor %}
                    </li>
                </ul>
                <code>
                    {{ data|json_encode }}
                </code>
            </div>
            <div id="user_wrapper" class="" style="width: 30vw">
                <div class="bg-white search_box search-box-sm">
                    <form hx-get="/"  hx-push-url="true">
                        <div id="search_wrapper" class="input-group shadow-sm" >
                            <div class="input-group-prepend">
                                <select id="search_select" name="search_type" class="custom-select btn btn-fid text-white" >
                                    <option value="all" selected>All</option>
                                    <option value="catalog">Katalog</option>
                                    <option value="articles">Zeitschriftenartikel</option>
                                    <option value="manuscripts">Manuskripte</option>
                                </select>
                            </div>
                            <input id="freetext-input" type="text" name="freetext" class="form-control" required>
                        </div>
                    </form>
                </div>
                <div class="card facet-box shadow-sm" style="height: 50vh; overflow: hidden">
                    <button class="btn btn-block btn-fid" style="border-radius: 0">Nicht angemeldet</button>
                    <p class="p-2 text-center">
                        Weitere Informationen sehen Sie, wenn Sie angemeldet sind.
                        <br>
                        <br>
                        Noch keinen Account? <a href="{{ webInfo.baseurl }}signup">Jetzt registrieren</a>
                    </p>
                </div>

            </div>

        </div>

        </div>
    </main>



{% endblock %}